<!doctype html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Him Store</title>


  <meta property="og:type" content="website">
  <meta property="og:title" content="Porto Shop 9 - Porto Shopify Demo site">
  


  <meta property="og:url" content="index.html">
  <meta property="og:site_name" content="Porto - Homepage 9">





<meta name="twitter:card" content="summary">

<link rel="canonical" href="index.html" /><meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /><meta name="theme-color" content="" />
  <!-- CSS ==================================================+ -->
  <style data-shopify>
  :root {
    --theme-color: #3c8dd9;    
    --basic-text-color: #777777;
    --basic-color-link: #3cd995; 
    --select-bg-image: url(cdn/shop/t/36/assets/select-bg16c5.svg?v=178378774968678360701639990763);

    --product-button-hover-color: #3c8dd9;
    --button-quickview-color: #3cd995;
    --product-title-color: #222529;
    --product-price-color: #222529;
    --screen-normal: (max-width: 991px);
    --screen-medium: (max-width: 767px);
    --screen-small: (max-width: 575px);
    --screen-x-small: (max-width: 484px); 
    --color-white: #fff;
    --color-black: #000;
    --color-old-price: #a7a7a7; 
    --hot-bg: #62b959;
    --product-sale-bg: #e27c7c;
    --product-sale-text: #fff;
    --font-weight-semilight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;  
    --price-slider-color: #333;
  }
  </style>
  <link href="cdn/shop/t/36/assets/pluginsc65e.css?v=58826214593735965551639990750" rel="stylesheet" type="text/css" media="all" />
  <link href="cdn/shop/t/36/assets/ultramegamenu2040.css?v=106457412661771523601639990774" rel="stylesheet" type="text/css" media="all" />
  <link href="cdn/shop/t/36/assets/stylesb421.css?v=42859762662703239181639990771" rel="stylesheet" type="text/css" media="all" />
<link href="cdn/shop/t/36/assets/header-type7ebf8.css?v=19107340762669584611639990694" rel="stylesheet" type="text/css" media="all" />
<link href="cdn/shop/t/36/assets/homepagedaa5.css?v=139196764768539256851639990697" rel="stylesheet" type="text/css" media="all" />
<link href="cdn/shop/t/36/assets/product-list095e.css?v=145866938871942426831639990754" rel="stylesheet" type="text/css" media="all" />
  <link href="cdn/shop/t/36/assets/responsive5ba2.css?v=172664629932058687001639990759" rel="stylesheet" type="text/css" media="all" /> 
  <link href="cdn/shop/t/36/assets/config5e4c.css?v=52600113040400741271639990846" rel="stylesheet" type="text/css" media="all" />
<!-- Header hook for plugins ================================================== -->
  <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/16130165/digital_wallets/dialog">
<link rel="alternate" hreflang="x-default" href="index.html">
<link rel="alternate" hreflang="en-US" href="index.html">
<link rel="alternate" hreflang="fr-US" href="fr.html">
<link rel="alternate" hreflang="de-US" href="de.html">
<script async="async" src="checkouts/internal/preloadsc494.js?locale=en-US"></script>
<script async="async" src="../shop.app/checkouts/internal/preloads20de.js?locale=en-US&amp;shop_id=16130165" crossorigin="anonymous"></script>
<script id="shopify-features" type="application/json">{"accessToken":"0bd7f1a4a6744a8517b29a2a5ab6aee7","betas":["rich-media-storefront-analytics"],"domain":"porto-demo9.myshopify.com","predictiveSearch":true,"shopId":16130165,"smart_payment_buttons_url":"https:\/\/porto-demo9.myshopify.com\/cdn\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/porto-demo9.myshopify.com\/cdn\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","dynamic_checkout_cart_button_sizes":{"maxWidth":500,"minWidth":140},"locale":"en","flg4ff40b22":false}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "porto-demo9.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.country = "US";
Shopify.theme = {"name":"Porto v4.0","id":128259850433,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "porto-demo9.myshopify.com/cdn";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "index.html";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["\/\/productreviews.shopifycdn.com\/embed\/loader.js?shop=porto-demo9.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":16130165,"offset":25200,"reqid":"342819de-9b95-4227-8927-590e681175e8-1710037200","pageurl":"porto-demo9.myshopify.com\/","u":"c0dee5f6fb19","p":"home"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>!function(o){o.addEventListener("DOMContentLoaded",function(){window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:"6LeHG2ApAAAAAO4rPaDW-qVpPKPOBfjbCpzJB9ey"};var t=['form[action*="/contact"] input[name="form_type"][value="contact"]','form[action*="/comments"] input[name="form_type"][value="new_comment"]','form[action*="/account"] input[name="form_type"][value="customer_login"]','form[action*="/account"] input[name="form_type"][value="recover_customer_password"]','form[action*="/account"] input[name="form_type"][value="create_customer"]','form[action*="/contact"] input[name="form_type"][value="customer"]'].join(",");function n(e){e=e.target;null==e||null!=(e=function e(t,n){if(null==t.parentElement)return null;if("FORM"!=t.parentElement.tagName)return e(t.parentElement,n);for(var o=t.parentElement.action,r=0;r<n.length;r++)if(-1!==o.indexOf(n[r]))return t.parentElement;return null}(e,["/contact","/comments","/account"]))&&null!=e.querySelector(t)&&((e=o.createElement("script")).setAttribute("src","../cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.6/index.js"),o.body.appendChild(e),o.removeEventListener("focus",n,!0),o.removeEventListener("change",n,!0),o.removeEventListener("click",n,!0))}o.addEventListener("click",n,!0),o.addEventListener("change",n,!0),o.addEventListener("focus",n,!0)})}(document);</script>
<script integrity="sha256-h4dvokWvGcvRSqiG7VnGqoonxF0k3NeoHPLSMjUGIz4=" data-source-attribution="shopify.loadfeatures" defer="defer" src="cdn/shopifycloud/shopify/assets/storefront/load_feature-87876fa245af19cbd14aa886ed59c6aa8a27c45d24dcd7a81cf2d2323506233e.js" crossorigin="anonymous"></script>
<script data-source-attribution="shopify.dynamic_checkout.dynamic.init">var Shopify=Shopify||{};Shopify.PaymentButton=Shopify.PaymentButton||{isStorefrontPortableWallets:!0,init:function(){window.Shopify.PaymentButton.init=function(){};var t=document.createElement("script");t.src="cdn/shopifycloud/portable-wallets/latest/portable-wallets.en.js",t.type="module",document.head.appendChild(t)}};
</script>
<script integrity="sha256-HAs5a9TQVLlKuuHrahvWuke+s1UlxXohfHeoYv8G2D8=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="cdn/shopifycloud/shopify/assets/storefront/features-1c0b396bd4d054b94abae1eb6a1bd6ba47beb35525c57a217c77a862ff06d83f.js" crossorigin="anonymous"></script>
<link rel="stylesheet" media="screen" href="cdn/shop/t/36/compiled_assets/stylesfe2d.css?1200">
<script id="sections-script" data-sections="slideshow-section,section-html,collection-brands,search-by-category,footer,sticky-footer-navbar" defer="defer" src="cdn/shop/t/36/compiled_assets/scriptsfe2d.js?1200"></script>

<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>

<script src="cdn/shop/t/36/assets/vendor33cb.js?v=101386163515925355001639990775" type="text/javascript"></script>
<!-- Import custom fonts ====================================================== --><link href="http://fonts.googleapis.com/css?family=Poppins:200italic,300italic,400italic,600italic,700italic,800italic,700,200,300,600,800,400&amp;subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'><link href="http://fonts.googleapis.com/css?family=Poppins:200italic,300italic,400italic,500italic,600italic,700italic,800italic,700,200,300,600,800,400,500&amp;subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'><script type="text/javascript"> 
    var asset_url = 'cdn/shop/t/36/assets/indexfe2d.html?1200';
    var routes_url = 'index.html';
    var money_format = '<span class="money">${{amount}}</span>'; 
  </script>  
  <style>
    h2,h3,h4,h5 { 
    font-weight: 700;
    margin: 0 0 14px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #222529; 
}
h2 {
letter-spacing: .9px;
}
h3 { 
    font-weight: 700; 
    line-height: 24px; 
}
h4 {   
    font-weight: 700; 
    line-height: 27px; 
}
h5 {
    letter-spacing: .35px;
    font-weight: 700; 
    line-height: 18px; 
}
body {
    line-height: 24px;
}
body.boxed { 
padding-top: 0;
}
p { 
    letter-spacing: .14px;
    line-height: 24px;
}
b, strong {
    font-weight: 700;
}
.ls-n-20 {
    letter-spacing: -.02em;
}
.ls-80 {
    letter-spacing: .08em;
}
.ls-150 {
    letter-spacing: .15em !important;
}
.m-l-xs {
    margin-left: 5px!important;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
} 
html .heading-light, html .lnk-light, html .text-color-light {
    color: #ffffff;
}
html .heading-dark, html .lnk-dark, html .text-color-dark {
    color: #222529;
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .background-color-secondary {
    background-color: #ff7272;
}
.f-left, .pull-left {
    float: left;
}
.d-inline-block {
    display: inline-block;
} 
sup {
    font-size: 50%;
    top: -.5em;
}
.p-t-sm {
    padding-top: 10px!important;
}
.btn, .btn-button {
  
    font-weight: 700;
    border-radius: 0;
    letter-spacing: 0;
    line-height: 1.42857;
}
.btn-lg { 
    line-height: 1.3333;
}
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
}   
.btn-flat {
    padding: 0 !important;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid transparent !important;
    box-shadow: none !important;
    text-transform: uppercase;
    font-size: 12px;
}
html .btn-quaternary {
    color: #fff;
    background-color: #0e0f11;
    border-color: #0e0f11 #0e0f11 #000;
}
.btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem; 
}
.btn-modern.btn-lg {
    font-size: .875rem;
    padding: 1rem 2.25rem;
}
.btn-borders.btn-lg {
    padding: 1em 3em;
    font-size: 1rem;
    border-width: 3px;
}
.btn-modern.btn-xl {
    font-size: 1.1428em;
    padding: 1.15em 5.5em;
}
.btn-md:not(.btn-modern) {
    font-size: .8571em;
    font-weight: 700;
    padding: .533rem .933rem;
}
.porto-ultimate-content-box .vc_btn3{
    font-size: 1.4em;
}
html .btn-borders.btn-dark {
    background: transparent;
    border-color: #222529;
    color: #222529;
  }
.btn-borders.btn-xl {
    padding: 1em 3.5em;
    font-size: 1.125rem;
    border-width: 3px;
}
.custom-font4, .slideshow h2.vc_custom_heading {
    font-family: 'Segoe Script','Savoye LET';
}
html .btn-secondary {
    color: #fff;
    background-color: #ff7272;
    border-color: #ff7272 #ff7272 #ff3f3f;
}
html .btn-secondary:hover, html .btn-secondary:focus, html .btn-secondary:active {
    color: #fff;
    background-color: #ff9696;
    border-color: #ffa6a6 #ffa6a6 #ff7272;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: none;
}
.flex-1 {flex: 1;}  
.page,.header-container.type7 .header { 
    padding-left: 20px;
    padding-right: 20px;
}
.cart-design-3 .icon-cart-header { 
    top: 0;
}
.cart-design-3 .icon-cart-header i { 
    margin-top: -2px;
}
.cart-design-3 .icon-cart-header .cart-total { 
    top: 1px; 
}
.porto-ibanner-layer {
    position: absolute;
    z-index: 10;
    text-align: left;
    font-size: 1rem;
} 
 .sale-label {
    white-space: nowrap;
}
.sale-label small {
    letter-spacing: -.025em;
    font-size: 70%;
    display: inline-block;
    font-weight: inherit;
}
sub {
    bottom: -.25em;
}
.sale-label sup {
    position: static;
    font-size: 75%;
}
.sale-label sub {
    display: block;
    font-size: 36%;
    line-height: 1;
    position: static;
    font-weight: 400;
    letter-spacing: 0;
    padding-left: .1em;
}  
.coupon-sale-text {
    position: relative;
    display: inline-block;
    padding: 6px 10px 4px;
    z-index: 1;
    transform: none;
    letter-spacing: 0;
} 
.coupon-sale-text:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: #ff7272;
    transform: rotate(-2deg);
}
.coupon-sale-text b {
    font-size: 200%;
    vertical-align: text-top;
    background: none;
    padding: 0;
}
.slideshow-section { 
    display: flex;
    justify-content: flex-end;
}
.slideshow-section .slideshow .item {
    min-height: 410px;
}
.slideshow-section .slideshow .item .slide-image {
    object-fit: cover;
    height: 100%;
}
.porto-ibanner-layer .btn-xl {
    font-size: 1.125em;
} 
.porto-ultimate-content-box {
    font-size: inherit; 
} 
.porto-ultimate-content-box:hover {
    box-shadow: none;
}  
.block-instafeed {
padding-top: 10px;
}
.products .product-col .product-loop-title, .product-col.product-default h3 {
    color: #222529;
}
.products .product:hover .product-image {
    box-shadow: none;
}
.products .product-col .add_to_cart_button {
    font-weight: 600;
    font-size: .75rem;
  
}
.products-collection .porto-load-more {
    display: inline-block;
    width: auto;
    border: none;
    background: #222529;
    color: #fff;
    padding: 1.4em 4em;
    font-size: .8125rem;
}
.infinite-loader .btn-load-more {
    display: inline-block;
    width: auto;
    border: none;
    background: #222529;
    color: #fff;
    padding: 1.4em 4em;
    font-size: .8125rem; 
}
.main-container .main-breadcrumbs{
border: 0;
} 
.main-container .main-breadcrumbs { 
    color: #777;
    font-size: .75rem;
text-transform: uppercase;
font-weight: 400;  
padding: 9.5px 0;
letter-spacing: 0;
    line-height: 24px;
}
.main-container .breadcrumbs ul li.home a::after {display:none;}
.main-container .breadcrumbs ul li.home a { 
    width: auto;
    text-indent: inherit; 
}
.main-container .main-breadcrumbs ul li a {
    color: inherit;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: inherit; 
}
.product-view .product-options-bottom .add-to-cart-box .button-wrapper .button-wrapper-content .btn-cart:not(:hover) {
    background: #222529;
}
.products .product-col .quickview {
   
    font-weight: 600;
}  
.main-container .pagenav-wrap .pagination .pagination-page li a:hover{
    background: transparent;
    color: inherit;
    border-color: #ccc;
}
.main-container .pagenav-wrap .pagination .pagination-page li.active span{
 background: transparent;
    color: inherit;
} 
.main-container .pagenav-wrap .pagination .pagination-page li.text a:hover {
  color: inherit;
}  
.main-container .login_content h2{
  text-transform: none;
}  
.section-title { 
    font-weight: 700;  
    font-size: 1.125rem;
    letter-spacing: -.02em;
} 
.porto-u-headings-line {display: block;}
.product-details a {
color:#222529;
}
.price {
    color: #444;
}
.box_brand {
padding: 48px 0; 
} 
.footer-wrapper .footer-bottom address { 
    margin-left: 0; 
}  
.footer-wrapper { 
    font-size: 13px;
    line-height: 24px;
}
body.boxed .footer-wrapper .container {
padding-left: 20px;
padding-right: 20px;
}
.footer-wrapper p { 
    line-height: 24px;
    font-size: 13px;
    letter-spacing: 0;
}   
.footer-middle { 
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}
.footer-wrapper .footer-bottom .container::before {
background-color: #313438;
}
.footer-middle .info-footer .footer-block-title h3 {
    margin: 0 0 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
}
.footer-middle b {
font-weight: 400;line-height: 1.4;
}  
.footer-wrapper .share-links a {
    width: 36px;
    height: 36px;
    border-radius: 25px !important;
    border: 1px solid #313438;
    box-shadow: none;
    margin: 2px;
}
.footer-middle ul.contact-info li span,.footer-middle b {
line-height: 20px;
}
.footer-wrapper .share-links a {
    color: #fff;
    background-color: transparent;
}
.footer-bottom { 
    font-size: 1em;
    padding: 21px 0;
}
.footer-bottom .container::before {
    top: -22px; 
}
    @media (min-width: 992px){
.slideshow-section .slideshow {
    width: 75%;
    padding-left: 5px;
}
.footer-wrapper .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.footer-bottom .container::before {
    top: -22px;
    left: 40px;
    right: 40px;
    width: calc(100% - 80px);
}
}
@media (min-width: 1160px) {
.container {
    max-width: 1120px;
}
}
@media (max-width: 991px){ 
.porto-ibanner-layer {
    font-size: .875rem;
}
.footer-middle .social-icons {margin-bottom: 15px;}
}
@media (max-width: 767px) { 
.porto-ibanner-layer {
    font-size: .8125rem;
}
}
@media (max-width: 575px) {
html {
    font-size: 14.8571px;
}
body {
    font-size: 13px;
    line-height: 22px;
}
body.boxed .wrapper .page,.header-container.type7 .header { 
    padding-left: 10px;
    padding-right: 10px;
}
.porto-ibanner-layer {
    font-size: .75rem;
}
}
  </style>
<link rel="stylesheet" href="style.css">
</head>
<body id="HimStore" class="site-new-style template-index boxed">
<style> 
.porto-block-html-top .owl-carousel {
    margin-right: -1px;
    width: calc(100% + 1px);
}
.porto-block-html-top .porto-sicon-box {
    margin-bottom: 0;
    justify-content: center;
    border-right: 1px solid #e7e7e7;
    width: 100%;
}
.porto-block-html-top .porto-sicon-default .porto-icon {
    margin-right: .5rem;
}
.porto-icon.none { 
    height: 1em; 
    text-align: center;
    line-height: 1;
}
.porto-sicon-box .porto-just-icon-wrapper {
    line-height: 1em;
}
.porto-sicon-header .porto-sicon-title {
    margin: 0;
}
</style> 
        </div></div>
    </div>
  </div>
</div></section>

<header class="main-section-header">
  <div class="header-container type7  header-color-light header-sticky-color-light header-menu-style-default_new menu-color-custom sticky-menu-color-custom header-menu-left"><div class="top-links-container topbar-text-custom">
  <div class="container">
    <div class="top-links-inner">
      <span class="split"></span>
<div class="language-wrapper top-select">
  <a href="javascript:void(0);" class="title">
    <span class="current-language">
     Tiếng Việt
    </span>
    <i class="icon-angle-down"></i>
  </a><form method="post" action="" id="LanguageForm" accept-charset="UTF-8" class="localization-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="localization" /><input type="hidden" name="utf8" value="✓" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="return_to" value="/" /><div class="select-language clearfix"><button type="submit" name="locale_code" class="item" data-action="select-language" value="en">
      
       Tiếng Việt
    </button><button >
      
    
     English
    </button></div></form></div>
      <div class="top-links-area show-icon-tablet">
        <div class="top-links-icon">
          <a href="javascript:;">Links</a>
        </div>
        <section id="shopify-section-header-toplink-menu" class="shopify-section spaced-section header-toplink"><ul class="links">
            <li >
                <a href="index.html"> 
                  TRANG CHỦ
                </a>
              </li>  
    <li >
    <a href="TrangSanPham/product.html"> 
    SẢN PHẨM
    </a>
  </li><li >
    <a href="#"> 
     GIỎ HÀNG
    </a>
  </li><li >
    <a href="#"> 
     TÀI KHOẢN
    </a>
  </li>
    <li >
    <a href="cart.html"> 
      LIÊN HỆ 
    </a>
  </li><li ><a href="account/login.html">ĐĂNG NHẬP</a></li></ul><span class="separator"></span>
<div class="custom-html"> 
  <div class="share-links">
<a target="_blank" class="share-facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_blank" class="share-twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a target="_blank" class="share-instagram" href="#"><i class="icon-instagram" aria-hidden="true"></i></a>
</div>
<style>
.share-links a {
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
.top-links-container .share-links a {
    border-radius: 50% !important;
    width: 2em;
    height: 2em;
    margin: 0; 
    transition: .3s; 
    text-align: center;
    font-size: .8rem;
} 
.share-links a:not(:hover) {
    background: none;
} 
</style> 
</div></section>
      </div>
    </div>
  </div>
</div>
<div class="header container">
  <div class="header-left"> 
    <div class="menu-icon"><a href="javascript:void(0)" title="Menu"><i class="fa fa-bars"></i></a></div>
    <div class="site-logo">
  <a href="index.html" class="logo porto-main-logo" rel="home"><img src="cdn/shop/t/36/assets/stylesb421.png" style="max-width:101px;" alt="Porto - Homepage 9"/></a>
</div> 
  </div> 
  <div class="header-center">
    <div class="search-area show-icon-tablet">
      <a href="javascript:void(0);" class="search-icon"><span><i class="icon-magnifier"></i></span></a>
      <div class="search-extended has-categories">
  <form role="search" method="get" class="searchform has-categories-dropdown porto-ajax-search" action="https://porto-demo9.myshopify.com/search" data-thumbnail="1" data-price="1" data-post-type="product" data-count="15">
    <label class="screen-reader-text" for="q"></label>
    <input type="text" class="s" placeholder="Search..." value="" name="q" autocomplete="off">
    <input type="hidden" name="type" value="product"><div id="shopify-section-search-by-category" class="shopify-section"><div class="search-by-category input-dropdown">
  <div class="input-dropdown-inner shopify-scroll-content">
    <input type="hidden" name="product_cat" value="all">
    <a href="#" data-val="all">Tất cả danh mục</a>
    <div class="list-wrapper shopify-scroll has-scrollbar">
      <ul class="shopify-scroll-content" tabindex="0">
        <li style="display:none;"><a href="#" data-val="all">Tất cả danh mục</a></li><li class="cat-item cat-item-207640330312">
                <a href="#" data-val="clothing"> 
                  GIÀY NAM 
                </a>
              </li><li class="cat-item cat-item-237296156865">
                <a href="#" data-val="featured-products"> 
                  GIÀY NỮ
                </a>
              </li><li class="cat-item cat-item-207640363080">
                <a href="#" data-val=""> 
                  GIÀY TRẺ EM 
                </a>
              </li><li class="cat-item cat-item-396769870">
                <a href="#" data-val="home-page"> 
                 GIÀY UNISEX
                </a>
           
    </div>
  </div>
</div>




</div><button type="submit" class="searchsubmit">Search</button>
  </form>
  <div class="search-info-text"><span>Start typing to see products you are looking for.</span></div>
  <div class="search-results-wrapper">
    <div class="shopify-scroll has-scrollbar">
      <div class="shopify-search-results shopify-scroll-content" tabindex="0">
        <div class="autocomplete-suggestions" style="position: absolute; max-height: 300px; z-index: 9999; width: 308px; display: flex;"></div>
      </div>
    </div>
    <div class="shopify-search-loader"></div>
  </div>
</div>
    </div>
  </div>
  <div class="header-right">
    <div class="cart-area"> 
      
      <div class="custom-block"> 
        <div class="header-contact">
  <div class="porto-sicon-box text-left mx-4 mb-0 d-none d-lg-flex d-sticky-header-none style_1 default-icon" style="align-items: left;">
    <i class="icon-phone-2" style="margin-right: 8px; font-size: 29px; color: #fff; line-height: 1;height: 1em;"></i>
    <span style="color: #fff; font-size: 11px; line-height: 1.2; font-weight: 700; margin: 0 0 0;">
      <h3 style="font-weight: 600; line-height: 1.2; color: #fff; font-size: 11px; margin-bottom: 3px;">LIÊN HỆ NGAY</h3>
      <b style="color: #fff; font-size: 18px; font-weight: 700; display: block; line-height: 0.9;">+848099999</b>
    </span>
  </div>
  <a class="my-account m-l-xs mr-1 mr-lg-2" href="account/login4236.html" style="padding: 0 .125rem;"><i class="icon-user-2"></i></a>
  <a class="wishlist-popup wishlist mr-1 mr-lg-2 pr-lg-1" href="javascript:void(0)"><i class="icon-wishlist-2"></i></a>
</div> 
      </div>
        
      <div class="mini-cart">
        <div class="cart-design-3 widget-design-3">
  <a href="javascript:;" class="icon-cart-header">
    <i class="icon-mini-cart"></i><span class="cart-total"><span class="cart-qty">0</span><span data-translate="cart.header.total_numb">item(s)</span></span>
  </a>
  <div class="cart-wrapper theme-border-color">
    <div class="cart-inner"> 
      <div class="cart-inner-content">
        <div class="cart-content"><div class="total-count">
    <span>0 <span>Sản phẩm(s)</span></span>
    <a href="cart.html" class="btn-button view-cart bordered uppercase">
      <span>Xem giỏ hàng</span>
    </a>
  </div><p class="no-items-in-cart">You have no items in your shopping cart.</p></div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div> 
  </div> 
</div>  
<div class="header-wrapper">
  <div class="main-nav wrapper-top-menu">
    <div class="container"> 
      <div class="row">
        <div class="col-lg-3">
          <div class="toggle-menu">
            <div class="menu-container category-menu-style-default_new">
              <a href="javascript:void(0)">
                <i class="fa fa-bars"></i>
                 
                DANH MỤC
                
              </a>
              <!-- Main Menu -->
              <div class="navigation-wrapper">
  <div class="main-navigation">
    <!-- begin site-nav -->
    <ul class="top-navigation side-menu">
      
      
      

      
      <li class="level0  level-top active">
        <a href="index.html" class="level-top">
          
            
            <i class="category-icon icon-home"></i>
            
          
          <span> 
            Home 
            
            
          </span>
        </a>
      </li>
      
    

      <li class="level0  level-top parent static-dropdown">
        <a href="collections/shop.html" class="level-top">
          
          
          <i class="category-icon Simple-Line-Icons-briefcase"></i>
          
          
          <span> 
            BỘ SƯU TẬP 
            
            
          </span>
        </a>
        <div class="level0 menu-wrap-sub "  style="width: 650px" >
          <div class="container">
            
            <div class="mega-columns row">
              
              <div class="ulmenu-block ulmenu-block-center menu-items col-md-8 itemgrid itemgrid-2col">
                <div class="row">
                  <ul class="level0">
                    
       
                 <li class="level1   groups  item ">
                      
                      <a href="#"> 
                        
                      </a>
                      <div class=" menu-wrapper ">
                        <ul class="level1">
                          
                          <li class="level2 ">
                            GIÀY NAM
                          </li>
                          
                          <li class="level2 ">
                            GIÀY NỮ
                          </li>
                          
                          <li class="level2 ">
                            GIÀY TRẺ EM
                          </li>
                          
                          <li class="level2 ">
                            
                             GIÀY UNISEX
                          </li>
                          
                        </ul>
                      </div>
                    </li>
                    
                    
                  </ul>
                </div>
              </div>
              
              <div class="menu-static-blocks ulmenu-block ulmenu-block-right col-md-4">
                 
                <div style="background-position: -15px center;background-image: url('../cdn.shopify.com/s/files/1/1613/0109/files/menu-banner7ff2.jpg?v=1604723000');background-repeat: no-repeat;background-size: cover;width: 100%;height: 100%;"></div>
<style>
.ulmenu-block-right * {
height: 100%;
}
</style> 
              </div>
              
            </div>
            
          </div>
        </div>
      </li>
      
   
      
      
      <li class="level0  level-top parent static-dropdown">
        <a href="collections/all.html" class="level-top">
          
          
          <i class="category-icon Simple-Line-Icons-present"></i>
          
          
          <span> 
            GIÀY NAM
            
            
          </span>
        </a>
        <div class="level0 menu-wrap-sub "  style="width: 580px" >
          <div class="container">
            
            <div class="mega-columns row">
              
              <div class="ulmenu-block ulmenu-block-center menu-items col-md-8 itemgrid itemgrid-2col">
                <div class="row">
                  <ul class="level0">
                    
                    
                    
                    
                    
                   
                    
                    
                    
                    
                    
                    
                    
                    
                  </ul>
                </div>
              </div>
              
              <div class="menu-static-blocks ulmenu-block ulmenu-block-right col-md-4">
                 
                <div style="background-position: center center;background-image: url('../cdn.shopify.com/s/files/1/1613/0109/files/menu_banner_right_2.png');background-repeat: no-repeat;background-size: cover;width: 100%;"></div>
<style>
.ulmenu-block-right * {
height: 100%;
}
</style> 
              </div>
              
            </div>
            
          </div>
        </div>
      </li>
             
      <li class="level0  level-top parent m-dropdown">
        <a href="#" class="level-top">                  
          <i class="category-icon Simple-Line-Icons-docs"></i>       
          <span> 
          GIÀY NỮ
                      
          </span>
        </a>
        <div class="level0 menu-wrap-sub  dropdown " >
          <div class="container">
            
            <div class="mega-columns row">
              
              <div class="ulmenu-block ulmenu-block-center menu-items col-md-12 itemgrid itemgrid-3col">
                <div class="row">
                  <ul class="level0">                                                                          
                    <li class="level1 item ">
                      
                    
                    </li>
                    
                    
                    
                    
                    
                    
                    <li class="level1 item ">
                      
                     
                    </li>
                    
                    
                    
                    
                    
                    
                    <li class="level1 item ">
                   
                    </li>
                                                                             
                    
                    <li class="level1 item ">
                      
                      
                    </li>
                    
                    
                    
                    
                    
                    
                    <li class="level1 item ">
                      
                    
                    </li>
                    
                    
                    
                    
                    
                    
                    <li class="level1 item ">
                
                    </li>
                    
                    
                    
                    
                    
                    
                    <li class="level1 item ">
                      
                
                    </li>
                    
                    
                  </ul>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </li>
      
 
      
      
      <li class="level0  level-top parent m-dropdown">
        <a href="#" class="level-top">
          
          
          <i class="category-icon Simple-Line-Icons-book-open"></i>
          
          
          <span> 
            GIÀY TRẺ EM
            
            
          </span>
        </a>
        <div class="level0 menu-wrap-sub  dropdown " >
          <div class="container">
            
            <div class="mega-columns row">
              
              <div class="ulmenu-block ulmenu-block-center menu-items col-md-12 itemgrid itemgrid-3col">
                <div class="row">
                  <ul class="level0">
                    
                    
                    
                    
                    
                    <li class="level1 item ">
                      
                     
                    </li>
                    
                    
                    
                    
                    
                    
                    <li class="level1 item ">
                      
                      <a href="#"> 
                        
                      </a>
                    </li>
                    
                    
                  </ul>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </li>
      

      
      <li class="level0  level-top ">
        <a href="#" class="level-top">
          
            
            <i class="category-icon Simple-Line-Icons-people"></i>
            
          
          <span> 
         GIÀY UNISEX
            
            
          </span>
        </a>
      </li>
      

      
      <li class="level0 menu-item-sale level-top ">
        <a href="#" class="level-top">
          
            
          
          <span> 
            HIM STORE
            
            
          </span>
        </a>
      </li>
      
      
    </ul>
    <!-- //site-nav -->
  </div>
</div>
              <!-- End Main Menu -->
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="custom-menu-block">   
            <ul class="link-list "><li> 
    <a href="#"> 
     GIÀY NỮ
    </a>
  </li><li> 
    <a href="#"> 
  GIÀY NAM
    </a>
  </li><li> 
    <a href="#"> 
     GIÀY TRẺ EM
    </a>
  </li></ul> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
  
  <div class="mobile-nav">
    <span class="close-sidebar-menu"><i class="icon-cancel"></i></span>
    <div id="navbar-toggle" class="bs-navbar-collapse skip-content">
      <ul id="mobile-menu" class="nav-accordion nav-categories"><li class="level0 level-top">
    <a href="index.html" class="level-top">
      <span> 
        Home </span>
    </a>
  </li><li class="level0 level-top parent ">
    <a href="collections/shop.html" class="level-top">
      <span> 
        Collections </span>
    </a>
    <ul class="level0"><li class="level1 parent ">
        <a href="#"><span>Variations 1</span></a>
        <ul class="level1"><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/accessories" class="site-nav__link"> 
                Fullwidth banner </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/shoes" class="site-nav__link"> 
                No sidebar banner </a>
          </li><li class="level2 ">
            <a href="https://porto-demo12.myshopify.com/collections/shop" class="site-nav__link"> 
                Infinite ajax scroll </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/shop" class="site-nav__link"> 
                Left sidebar </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/clothing" class="site-nav__link"> 
                Right sidebar <span class="cat-label cat-label-new pin-left">NEW</span></a>
          </li><li class="level2 ">
            <a href="https://porto-demo17.myshopify.com/collections/shop" class="site-nav__link"> 
                Product flex grid </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/caps" class="site-nav__link"> 
                Product list item type </a>
          </li><li class="level2 last">
            <a href="https://porto-demo.myshopify.com/collections/daily-deal" class="site-nav__link"> 
                Daily deal </a>
          </li></ul>
      </li><li class="level1 parent last">
        <a href="#"><span>Variations 2</span></a>
        <ul class="level1"><li class="level2 ">
            <a href="https://porto-demo14.myshopify.com/collections/shop" class="site-nav__link"> 
                Quantity field <span class="cat-label cat-label-new pin-left">NEW</span></a>
          </li><li class="level2 ">
            <a href="https://porto-demo5.myshopify.com/collections/shop" class="site-nav__link"> 
                Image, color swatch <span class="cat-label cat-label-new pin-left">NEW</span></a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/shop" class="site-nav__link"> 
                3 columns products </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/accessories" class="site-nav__link"> 
                4 columns products </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/music" class="site-nav__link"> 
                5 columns products </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/shoes" class="site-nav__link"> 
                6 columns products </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/collections/watches" class="site-nav__link"> 
                Full width mode </a>
          </li><li class="level2 last">
            <a href="https://porto-demo.myshopify.com/pages/products-list-type" class="site-nav__link"> 
                Product list item type </a>
          </li></ul>
      </li></ul>
  </li><li class="level0 level-top parent ">
    <a href="collections/all.html" class="level-top">
      <span> 
        Products </span>
    </a>
    <ul class="level0"><li class="level1 parent ">
        <a href="#"><span>Variations</span></a>
        <ul class="level1"><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/blue-backpack-for-young?variant=33199526281293" class="site-nav__link"> 
                Simple product </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/brown-women-casual-handbag" class="site-nav__link"> 
                Variant product </a>
          </li><li class="level2 ">
            <a href="https://porto-demo5.myshopify.com/collections/shop/products/women-winter-casual-bag" class="site-nav__link"> 
                Image swatch <span class="cat-label cat-label-new pin-left">NEW</span></a>
          </li><li class="level2 ">
            <a href="https://porto-demo5.myshopify.com/collections/shop/products/women-winter-casual-bag?preview_theme_id=83858358324" class="site-nav__link"> 
                Variant with rectangle </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/brown-black-men-casual-glasses" class="site-nav__link"> 
                Moved tabs </a>
          </li><li class="level2 ">
            <a href="https://porto-demo5.myshopify.com/collections/shop/products/spring-women-casual-bag" class="site-nav__link"> 
                Add cart sticky <span class="cat-label cat-label-new pin-left">NEW</span></a>
          </li><li class="level2 ">
            <a href="https://porto-demo7.myshopify.com/collections/shop/products/product-left-sidebar" class="site-nav__link"> 
                Right side zoom </a>
          </li><li class="level2 last">
            <a href="https://porto-demo5.myshopify.com/collections/shop/products/women-winter-casual-bag?preview_theme_id=83858358324" class="site-nav__link"> 
                Dynamic checkout button </a>
          </li></ul>
      </li><li class="level1 parent last">
        <a href="#"><span>Page Layout</span></a>
        <ul class="level1"><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/blue-backpack-for-young" class="site-nav__link"> 
                Default layout </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/men-black-gentle-belt" class="site-nav__link"> 
                Extended layout </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/brown-black-men-casual-glasses" class="site-nav__link"> 
                Full width layout </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/basketball-sports-blue-shoes" class="site-nav__link"> 
                Grid images layout </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/gentle-casual-blue-shoes" class="site-nav__link"> 
                Sticky both side info </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/ultimate-3d-bluetooth-speaker" class="site-nav__link"> 
                Sticky right side info </a>
          </li><li class="level2 ">
            <a href="https://porto-demo.myshopify.com/products/men-black-sports-watch" class="site-nav__link"> 
                Wide grid layout </a>
          </li><li class="level2 last">
            <a href="https://porto-demo31.myshopify.com/products/the-aged-shoes" class="site-nav__link"> 
                Left sidebar </a>
          </li></ul>
      </li></ul>
  </li><li class="level0 level-top parent ">
    <a href="#" class="level-top">
      <span> 
        Pages </span>
    </a>
    <ul class="level0"><li class="level1 ">
        <a href="pages/about-us.html">
          <span>About Us</span>
        </a>
      </li><li class="level1 ">
        <a href="https://porto-demo4.myshopify.com/pages/faqs">
          <span>FAQs</span>
        </a>
      </li><li class="level1 ">
        <a href="pages/contact.html">
          <span>Contact Us</span>
        </a>
      </li><li class="level1 ">
        <a href="blogs/news.html">
          <span>Blog Post</span>
        </a>
      </li><li class="level1 ">
        <a href="cart.html">
          <span>Shopping Cart</span>
        </a>
      </li><li class="level1 ">
        <a href="index.html">
          <span>Checkout</span>
        </a>
      </li><li class="level1 last">
        <a href="account/login4236.html">
          <span>My Account</span>
        </a>
      </li></ul>
  </li><li class="level0 level-top parent ">
    <a href="#" class="level-top">
      <span> 
        Features </span>
    </a>
    <ul class="level0"><li class="level1 ">
        <a href="https://porto-demo.myshopify.com/pages/header-type">
          <span>Header Types</span>
        </a>
      </li><li class="level1 last">
        <a href="#">
          <span>Footer Types</span>
        </a>
      </li></ul>
  </li><li class="level0 level-top">
    <a href="#" class="level-top">
      <span> 
        Buy Porto! </span>
    </a>
  </li><li class="level0 level-top">
    <a href="#" class="level-top">
      <span> 
         </span>
    </a>
  </li></ul>
<div class="mobile-search">
<div class="search-extended has-categories">
  <form role="search" method="get" class="searchform  porto-ajax-search" action="https://porto-demo9.myshopify.com/search" data-thumbnail="1" data-price="1" data-post-type="product" data-count="15">
    <label class="screen-reader-text" for="q"></label>
    <input type="text" class="s" placeholder="Search..." value="" name="q" autocomplete="off">
    <input type="hidden" name="type" value="product"><button type="submit" class="searchsubmit">Search</button>
  </form>
  <div class="search-info-text"><span>Start typing to see products you are looking for.</span></div>
  <div class="search-results-wrapper">
    <div class="shopify-scroll has-scrollbar">
      <div class="shopify-search-results shopify-scroll-content" tabindex="0">
        <div class="autocomplete-suggestions" style="position: absolute; max-height: 300px; z-index: 9999; width: 308px; display: flex;"></div>
      </div>
    </div>
    <div class="shopify-search-loader"></div>
  </div>
</div>
</div>
    </div>
    <div class="custom-block">
      <div><div class="social-icons">
<a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="icon-facebook"></i></a><a href="https://twitter.com/" title="Twitter" target="_blank"><i class="icon-twitter"></i></a><a href="https://instagram.com/" title="Linkedin" target="_blank"><i class="icon-instagram"></i></a>
</div></div> 
    </div>
  </div>
  <div class="mobile-nav-overlay"></div>
</header>
      <!-- //site-header --><div class="main-container "><div class="main-wrapper">
          <div class="main pt-main">
            <!-- /templates/index.liquid -->
<!-- BEGIN content_for_index --><div id="shopify-section-1600764228637" class="shopify-section"><div data-section-id="1600764228637" data-section-type="main-section"><div id="main-block-1600764228637" class="slideshow-background slideshow-section container " style="margin-top: px;margin-bottom: px;padding: ;">
    <div class="data-slideshow"
         data-auto=""
         data-paging="false"
         data-nav="false"
         data-transition="slide"
         data-prev=''
         data-next='' style="display: none;"></div>
    <div class="slideshow owl-carousel owl-carousel-lazy middle  nav-style-4  dots-style-1"><div class="item" style="padding-top: 49.101796407185624%;background-color: #eeeeee;"><img class="slide-image" src="product/banner1.png" alt=""/><div class=" content-container"> 
          <div class="content-slideshow">   
            <div class="porto-ibanner-desc no-padding d-flex">
  <div class="porto-ibanner-layer pr-xl-3 text-right" style="width: 48%; left: 2%; top: 50%; transform: translateY(-50%);">
    <h4 style="font-size: 1.0625em; color: rgba(34, 37, 41, 0.7); line-height: 1; font-weight: 500; letter-spacing: 0.065em;" class="vc_custom_heading mb-2 pr-1 align-right">
  
    </h4>
    <h2 style="font-size: 3.625em; line-height: 1;" class="mb-0 align-right text-uppercase">
     
    </h2>
    <div class="row d-block d-sm-inline-flex flex-sm-nowrap">
      <div class="col-auto vc_column_container col-md-6">
        <div class="wpb_wrapper vc_column-inner">
          
        </div>
      </div>
     
    </div>
  </div>
</div>
<style>
  .vc_custom_1575616360030 {
    padding-top: 0.65em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    padding-left: 0.5em;
    background-image: url(../cdn.shopify.com/s/files/1/1613/0165/files/shop9_home_badge.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .porto-ibanner-layer .btn-modern.btn-md {
    font-size: 0.85em;
    padding: 1em 3.25em;
  }
</style> 
          </div> 
        </div></div><div class="item" style="padding-top: 49.101796407185624%;background-color: #eeeeee;"><img class="slide-image" src="product/banner2.png" alt=""/><div class=" content-container"> 
          <div class="content-slideshow">   
            <div class="porto-ibanner-desc no-padding d-flex">
  
</div> 
          </div> 
        </div></div></div><div class="html-slide-code">   
         
      </div></div></div>





</div><div id="shopify-section-1600312911861" class="shopify-section"><div class="html-code" data-section-id="1600312911861" data-section-type="html-section">
  <div class="html-code-wrapper">   
    <div class="container" style="padding-top: 51px;">
<div class="products-collection porto-products title-border-middle "><h2 class="section-title text-center"><span class="line-l"></span><span class="inline-title"> 
      SẢN PHẨM NỔI BẬT
    </span><span class="line-r"></span></h2><div class="porto-products-element">
    <div class="category-products products products-container grid products-spacing-10 item-1200-4 item-992-4 item-768-3 item-640-2 item-320-1"><div class="products-grid  columns4">










<div class="item product product-col product-outimage product-type-simple " >
  
<div class="product-inner">
  <div class="product-image"> 
    <img src="product/giaynam2.png" class="card-img-top" alt="...">
    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
    <div class="links-on-image">
      <div class="add-links-wrap">
        <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
          <span>XEM CHI TIẾT</span>
        </a></div>
      </div>
    </div>
  </div>
  <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER NAM</a>,&nbsp;<a href="#" title="">NIKE</a></span><a class="product-loop-title" href="#"></a>
      <h3 class="shopify-loop-product__title">  
         NIKE INFINITY G GOLF
      </h3> 
    </a>
     
    <div class="rating-wrap">
      <div class="rating-content">
        <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
      </div>
    </div>
      
    <div class="description">
    </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.099.999đ</span></span></span>
    </span><div class="add-links-wrap">
  <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
      <div class="yith-wcwl-add-button show">  
        <div class="product-wishlist wishlist-5534713741384">
          <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
        </div>
      </div> 
    </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
        <span>Add to compare</span>
      </a></div></div></div>
</div></div> 

<div class="item product product-col product-outimage product-type-simple " >
  
    <div class="product-inner">
      <div class="product-image"> 
        <img src="product/UNISEX1.png" class="card-img-top" alt="...">
        <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
        <div class="links-on-image">
          <div class="add-links-wrap">
            <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
              <span>XEM CHI TIẾT</span>
            </a></div>
          </div>
        </div>
      </div>
      <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER UNISEX</a>,&nbsp;<a href="#" title="">DC SHOES</a></span><a class="product-loop-title" href="#"></a>
          <h3 class="shopify-loop-product__title">  
             DC SHOES MANTECA
          </h3> 
        </a>
         
        <div class="rating-wrap">
          <div class="rating-content">
            <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
          </div>
        </div>
          
        <div class="description"> 
        </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.100.000đ</span></span></span>
        </span><div class="add-links-wrap">
      <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
          <div class="yith-wcwl-add-button show">  
            <div class="product-wishlist wishlist-5534713741384">
              <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
            </div>
          </div> 
        </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
            <span>Add to compare</span>
          </a></div></div></div>
    </div></div> 

    <div class="item product product-col product-outimage product-type-simple " >
  
        <div class="product-inner">
          <div class="product-image"> 
            <img src="product/giaynu1.png" class="card-img-top" alt="...">
            <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
            <div class="links-on-image">
              <div class="add-links-wrap">
                <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
                  <span>XEM CHI TIẾT</span>
                </a></div>
              </div>
            </div>
          </div>
          <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER NỮ</a>,&nbsp;<a href="#" title="">NIKE</a></span><a class="product-loop-title" href="#"></a>
              <h3 class="shopify-loop-product__title">  
                 NIKE GRADE SCHOOL AIR JORDAN
              </h3> 
            </a>
             
            <div class="rating-wrap">
              <div class="rating-content">
                <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
              </div>
            </div>
              
            <div class="description">
            </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.999.999đ</span></span></span>
            </span><div class="add-links-wrap">
          <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
              <div class="yith-wcwl-add-button show">  
                <div class="product-wishlist wishlist-5534713741384">
                  <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
                </div>
              </div> 
            </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
                <span>Add to compare</span>
              </a></div></div></div>
        </div></div> 
        <div class="item product product-col product-outimage product-type-simple " >
  
            <div class="product-inner">
              <div class="product-image"> 
                <img src="product/giaytreem1.png" class="card-img-top" alt="...">
                <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                <div class="links-on-image">
                  <div class="add-links-wrap">
                    <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
                      <span>XEM CHI TIẾT</span>
                    </a></div>
                  </div>
                </div>
              </div>
              <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER TRẺ EM</a>,&nbsp;<a href="#" title="">MLB </a></span><a class="product-loop-title" href="#"></a>
                  <h3 class="shopify-loop-product__title">  
                     MLB PLAYBALL DIAMOND MONOGRAM
                  </h3> 
                </a>
                 
                <div class="rating-wrap">
                  <div class="rating-content">
                    <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
                  </div>
                </div>
                  
                <div class="description">
                </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.500.000đ</span></span></span>
                </span><div class="add-links-wrap">
              <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
                  <div class="yith-wcwl-add-button show">  
                    <div class="product-wishlist wishlist-5534713741384">
                      <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
                    </div>
                  </div> 
                </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
                    <span>Add to compare</span>
                  </a></div></div></div>
            </div></div> 

<style>
.custom-title .porto-products.title-border-bottom .section-title { 
    margin-bottom: 7px; 
}
</style> 
  </div>
</div>




</div><div id="shopify-section-1600829828357" class="shopify-section"><div class="html-code" data-section-id="1600829828357" data-section-type="html-section">
  <div class="html-code-wrapper">   
    <div class="container hide-actions custom-product" style="margin-top: 45px;">
  <div class="row">
    <div class="col-md-6 col-12"> 
<div class="bg-gray px-4 py-5">
<div class="products-collection porto-products title- "><h2 class="section-title slider-title text-center"><span class="inline-title"> 
      BÁN CHẠY NHẤT
    </span></h2><div class="porto-products-element">
    <div class="category-products products products-container products-slider products-spacing-10"><div class="data-carousel"
           data-auto="5000"
           data-items="1"
           data-1200="1"
           data-992="4"
           data-768="3"
           data-640="2"
           data-480="2"
           data-320="2"
           data-nav="true" 
           data-paging="false"
           data-margin='0' style="display: none;"></div><div class=" owl-carousel carousel-init owl-carousel-lazy middle  nav-style-4  ">





<div class="item product product-col product-default product-type-simple " >
  
<div class="product-inner">
  <div class="product-image"> 
    <img src="product/banchay1.png" alt="">
    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
    <div class="links-on-image">
      <div class="add-links-wrap">
        <div class="add-links clearfix"></div>
      </div>
    </div>
  </div>
  <div class="product-content"><a class="product-loop-title" href="products/black-woman-underwear.html">
      <h3 class="shopify-loop-product__title">  
       LACOSTE GAME ADVANCE LUXE
      </h3> 
    </a>
      
    <div class="description">
    </div><div class="add-links-wrap">
  <div class="add-links clearfix"><div class="clear"></div></div></div></div>
</div></div> 





<div class="item product product-col product-default product-type-simple " >
  
<div class="product-inner">
  <div class="product-image"> 
   <img src="product/banchay2.png" alt="">
    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
    <div class="links-on-image">
      <div class="add-links-wrap">
        <div class="add-links clearfix"></div>
      </div>
    </div>
  </div>
  <div class="product-content"><a class="product-loop-title" href="products/men-trouser.html">
      <h3 class="shopify-loop-product__title">  
       PAZZION BLACK HORSE BIT BUCKLE SLINGBACK
      </h3> 
    </a>
      
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi... 
    </div><div class="add-links-wrap">
  <div class="add-links clearfix"><div class="clear"></div></div></div></div>
</div></div> 





<div class="item product product-col product-default product-type-simple " >
  
<div class="product-inner">
  <div class="product-image"> 
   <img src="product/banchay3.png" alt="">
    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
    <div class="links-on-image">
      <div class="add-links-wrap">
        <div class="add-links clearfix"></div>
      </div>
    </div>
  </div>
  <div class="product-content"><a class="product-loop-title" href="products/porto-black-belt.html">
      <h3 class="shopify-loop-product__title">  
        NIKE JORDAN 1 PATENT MULTI-COLOR
      </h3> 
    </a>
      
    <div class="description">
    </div><div class="add-links-wrap">
  <div class="add-links clearfix"><div class="clear"></div></div></div></div>
</div></div> </div></div></div>
</div>
</div>
</div>  
<div class="col-md-6 col-12"> 
<div class="bg-gray px-4 py-5">
<div class="products-collection porto-products title- "><h2 class="section-title slider-title text-center"><span class="inline-title"> 
      SẢN PHẨM MỚI 
    </span></h2><div class="porto-products-element">
    <div class="category-products products products-container products-slider products-spacing-10"><div class="data-carousel"
           data-auto="5000"
           data-items="1"
           data-1200="1"
           data-992="4"
           data-768="3"
           data-640="2"
           data-480="2"
           data-320="2"
           data-nav="true" 
           data-paging="false"
           data-margin='0' style="display: none;"></div><div class=" owl-carousel carousel-init owl-carousel-lazy middle  nav-style-4  ">
            <div class="item product product-col product-default product-type-simple " >
  
                <div class="product-inner">
                  <div class="product-image"> 
                    <img src="product/banchay1.png" alt="">
                    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                    <div class="links-on-image">
                      <div class="add-links-wrap">
                        <div class="add-links clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div class="product-content"><a class="product-loop-title" href="products/black-woman-underwear.html">
                      <h3 class="shopify-loop-product__title">  
                       LACOSTE GAME ADVANCE LUXE
                      </h3> 
                    </a>
                      
                    <div class="description">
                    </div><div class="add-links-wrap">
                  <div class="add-links clearfix"><div class="clear"></div></div></div></div>
                </div></div> 
                
                
                
                
                
                <div class="item product product-col product-default product-type-simple " >
                  
                <div class="product-inner">
                  <div class="product-image"> 
                   <img src="product/banchay2.png" alt="">
                    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                    <div class="links-on-image">
                      <div class="add-links-wrap">
                        <div class="add-links clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div class="product-content"><a class="product-loop-title" href="products/men-trouser.html">
                      <h3 class="shopify-loop-product__title">  
                       PAZZION BLACK HORSE BIT BUCKLE SLINGBACK
                      </h3> 
                    </a>
                      
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi... 
                    </div><div class="add-links-wrap">
                  <div class="add-links clearfix"><div class="clear"></div></div></div></div>
                </div></div> 
                
                
                
                
                
                <div class="item product product-col product-default product-type-simple " >
                  
                <div class="product-inner">
                  <div class="product-image"> 
                   <img src="product/banchay3.png" alt="">
                    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                    <div class="links-on-image">
                      <div class="add-links-wrap">
                        <div class="add-links clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div class="product-content"><a class="product-loop-title" href="products/porto-black-belt.html">
                      <h3 class="shopify-loop-product__title">  
                        NIKE JORDAN 1 PATENT MULTI-COLOR
                      </h3> 
                    </a>
                      
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi... 
                    </div><div class="add-links-wrap">
                  <div class="add-links clearfix"><div class="clear"></div></div></div></div>
                </div></div>




 </div></div></div>
</div>
</div>
</div>  
</div>  
</div>  
<style>
.bg-gray {
    background-color: #f4f4f4;
}
.custom-product .product {
padding-bottom: 0;
}
</style> 
  </div>
</div>




</div><div id="shopify-section-1600313489433" class="shopify-section"><div class="html-code" data-section-id="1600313489433" data-section-type="html-section">
  <div class="html-code-wrapper">   
    <div class="container" style="margin-top: 50px;">
 <div class="products-collection porto-products title-border-middle "><h2 class="section-title slider-title text-center"><span class="line-l"></span><span class="inline-title"> 
    SẢN PHẨM NÊN MUA
    </span><span class="line-r"></span></h2><div class="porto-products-element">
    <div class="category-products products products-container products-slider products-spacing-10"><div class="data-carousel"
           data-auto="0"
           data-items="4"
           data-1200="4"
           data-992="4"
           data-768="3"
           data-640="2"
           data-480="2"
           data-320="2"
           data-nav="false" 
           data-paging="false"
           data-margin='0' style="display: none;"></div><div class=" owl-carousel carousel-init owl-carousel-lazy middle  nav-style-4  ">




            <div class="item product product-col product-outimage product-type-simple " >
  
                <div class="product-inner">
                  <div class="product-image"> 
                    <img src="product/giaynam2.png" class="card-img-top" alt="...">
                    <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                    <div class="links-on-image">
                      <div class="add-links-wrap">
                        <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
                          <span>XEM CHI TIẾT</span>
                        </a></div>
                      </div>
                    </div>
                  </div>
                  <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER NAM</a>,&nbsp;<a href="#" title="">NIKE</a></span><a class="product-loop-title" href="#"></a>
                      <h3 class="shopify-loop-product__title">  
                         NIKE INFINITY G GOLF
                      </h3> 
                    </a>
                     
                    <div class="rating-wrap">
                      <div class="rating-content">
                        <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
                      </div>
                    </div>
                      
                    <div class="description">
                    </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.099.999đ</span></span></span>
                    </span><div class="add-links-wrap">
                  <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
                      <div class="yith-wcwl-add-button show">  
                        <div class="product-wishlist wishlist-5534713741384">
                          <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
                        </div>
                      </div> 
                    </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
                        <span>Add to compare</span>
                      </a></div></div></div>
                </div></div> 
                
                <div class="item product product-col product-outimage product-type-simple " >
                  
                    <div class="product-inner">
                      <div class="product-image"> 
                        <img src="product/UNISEX1.png" class="card-img-top" alt="...">
                        <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                        <div class="links-on-image">
                          <div class="add-links-wrap">
                            <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
                              <span>XEM CHI TIẾT</span>
                            </a></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER UNISEX</a>,&nbsp;<a href="#" title="">DC SHOES</a></span><a class="product-loop-title" href="#"></a>
                          <h3 class="shopify-loop-product__title">  
                             DC SHOES MANTECA
                          </h3> 
                        </a>
                         
                        <div class="rating-wrap">
                          <div class="rating-content">
                            <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
                          </div>
                        </div>
                          
                        <div class="description"> 
                        </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.100.000đ</span></span></span>
                        </span><div class="add-links-wrap">
                      <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
                          <div class="yith-wcwl-add-button show">  
                            <div class="product-wishlist wishlist-5534713741384">
                              <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
                            </div>
                          </div> 
                        </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
                            <span>Add to compare</span>
                          </a></div></div></div>
                    </div></div> 
                
                    <div class="item product product-col product-outimage product-type-simple " >
                  
                        <div class="product-inner">
                          <div class="product-image"> 
                            <img src="product/giaynu1.png" class="card-img-top" alt="...">
                            <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                            <div class="links-on-image">
                              <div class="add-links-wrap">
                                <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
                                  <span>XEM CHI TIẾT</span>
                                </a></div>
                              </div>
                            </div>
                          </div>
                          <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER NỮ</a>,&nbsp;<a href="#" title="">NIKE</a></span><a class="product-loop-title" href="#"></a>
                              <h3 class="shopify-loop-product__title">  
                                 NIKE GRADE SCHOOL AIR JORDAN
                              </h3> 
                            </a>
                             
                            <div class="rating-wrap">
                              <div class="rating-content">
                                <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
                              </div>
                            </div>
                              
                            <div class="description">
                            </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.999.999đ</span></span></span>
                            </span><div class="add-links-wrap">
                          <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
                              <div class="yith-wcwl-add-button show">  
                                <div class="product-wishlist wishlist-5534713741384">
                                  <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
                                </div>
                              </div> 
                            </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
                                <span>Add to compare</span>
                              </a></div></div></div>
                        </div></div> 
                        <div class="item product product-col product-outimage product-type-simple " >
                  
                            <div class="product-inner">
                              <div class="product-image"> 
                                <img src="product/giaytreem1.png" class="card-img-top" alt="...">
                                <div class="loader-container" style="display: none;"><div class="loader"><i class="porto-ajax-loader"></i></div></div> 
                                <div class="links-on-image">
                                  <div class="add-links-wrap">
                                    <div class="add-links clearfix"><a href="#" class="action-list quickview-icon quickview"> 
                                      <span>XEM CHI TIẾT</span>
                                    </a></div>
                                  </div>
                                </div>
                              </div>
                              <div class="product-content"><span class="category-list"><a href="#" title="">SNEAKER TRẺ EM</a>,&nbsp;<a href="#" title="">MLB </a></span><a class="product-loop-title" href="#"></a>
                                  <h3 class="shopify-loop-product__title">  
                                     MLB PLAYBALL DIAMOND MONOGRAM
                                  </h3> 
                                </a>
                                 
                                <div class="rating-wrap">
                                  <div class="rating-content">
                                    <span class="shopify-product-reviews-badge" data-id="5534713741384"></span>
                                  </div>
                                </div>
                                  
                                <div class="description">
                                </div><span class="price"><span class="price-wrapper"><span class="shopify-Price-amount amount"><span class="money">2.500.000đ</span></span></span>
                                </span><div class="add-links-wrap">
                              <div class="add-links clearfix"><a href="collections/featured-products/products/women-winter-shoes.html" class="button product_type_variable add_to_cart_button"><span>Thêm giỏ hàng</span></a><div class="yith-wcwl-add-to-wishlist">
                                  <div class="yith-wcwl-add-button show">  
                                    <div class="product-wishlist wishlist-5534713741384">
                                      <a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="add_to_wishlist link-wishlist" title="Add to wishlist"><span>Add to wishlist</span></a>
                                    </div>
                                  </div> 
                                </div><div class="clear"></div><a href="javascript:;" data-product-handle="women-winter-shoes" data-product-title="Women Winter Shoes" class="link-compare"> 
                                    <span>Add to compare</span>
                                  </a></div></div></div>
                            </div></div> 
 </div></div></div>
</div>
</div> 
  </div>
</div>




</div><div id="shopify-section-1601171263394" class="shopify-section"><div class="html-code" data-section-id="1601171263394" data-section-type="html-section">
  <div class="html-code-wrapper">   
    <div class="row home-newsletter vc_custom_1575864518031 no-padding" style="background-image: url('../cdn.shopify.com/s/files/1/1613/0165/files/shop9_home_banner.jpg');">
  <div class="pl-4 pl-xl-5 vc_column_container col-md-9 col-xl-6 col-lg-8 col-10 text-center">
    <div class="wpb_wrapper vc_column-inner">
      <h2 style="font-size: 1.5rem; line-height: 1.2; text-align: center; letter-spacing: -0.02em;" class="vc_custom_heading mb-2 text-uppercase">đăng kí nhận thông báo</h2>
      <h5 style="font-size: 1rem; color: #777777; line-height: 1.5; text-align: center; font-weight: 400;" class="vc_custom_heading mb-3">
        nhận tất cả thông tin về sự kiện, khuyến mãi và<br>
        hơn thế nữa. 
      </h5>
      
<div class="newsletter-footer">
  <form action="http://icotheme.us12.list-manage.com/subscribe/post?u=494713daf8c644965e816bf29&amp;id=2f9eab1a8a" method="post" target="_blank" name="mc-embedded-subscribe-form">
    <span class="new-text">
      <input id="fnc-email" placeholder="Email Address" type="email" value="" name="EMAIL" class="input-group-field" aria-label="địa chỉ Email">
    </span>
    <span class="new-button">
      <button type="submit" class="btn-button btn btn-primary" name="subscribe">Đăng kí</button>
    </span>
  </form>
</div>
    </div>
  </div>
</div>
<style>
.vc_custom_1575864518031 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #e7e7e7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-newsletter .newsletter-footer {
max-width: 472px;
width: 100%;
display: inline-block;
}
.home-newsletter .newsletter-footer input, .home-newsletter .newsletter-footer button {
height: 3.25rem;
}
.home-newsletter .newsletter-footer button {
padding: 0 2.5rem;
font-size: .8rem;
}
</style> 
  </div>
</div>




</div><!-- END content_for_index -->
          </div>
        </div>
      </div>
      <!-- begin site-footer -->
      <div class="box_footer">
        <div id="shopify-section-footer" class="shopify-section"><footer class="footer-wrapper "><div class="footer-middle">
    <div class="level0 container"><div class="row"><div class="col-lg-3 info-footer">
          <div class="widget-wrapper"><div class="footer-block-title">
              <h3>
                <span>THÔNG TIN LIÊN LẠC</span>
              </h3>
            </div><div class="block_content">   
              <ul class="contact-info">
            <li>
<b style="color: #fff;text-transform:uppercase;">ĐỊA CHỈ:</b><span>Khu CNC, Thủ Đức, TP Hồ Chí Minh</span>
</li>
            <li>
<b style="color: #fff;text-transform:uppercase;">SỐ ĐIỆN THOẠI:</b><span>+848099999</span>
</li>
            <li>
<b style="color: #fff;text-transform:uppercase;">Email:</b><span><a href="mailto:mail@example.com">himstore@gmail.com</a></span>
</li>
            <li>
<b style="color: #fff;text-transform:uppercase;">Thời gian mở cửa:</b><span>T2 - CN / 8:00 AM - 8:00 PM</span>
</li>
        </ul>
<div class="share-links" style="margin-top: 1.875rem; margin-bottom: -9px;">
  <a href="#" target="_blank" class="share-facebook">Facebook</a> 
  <a href="#" target="_blank" class="share-twitter">Twitter</a>
  <a href="#" target="_blank" class="share-instagram">Instagram</a>
</div> 
            </div></div>
          <div style="clear:both;"></div>
        </div><div class="col-lg-3 info-footer">
          <div class="widget-wrapper"><div class="block_content">   
              <div class="footer-block-title">
  <h3>
    <span>ĐỐI TÁC </span>
  </h3>
</div><div class="custom-footer-content">
  <ul class="footer-list row"><div class="item col-sm-12"><li class="theme-color"> 
      <a href="#">
       NIKE
      </a>
    </li><li class="theme-color"> 
      <a href="#">
       ADIDAS
      </a>
    </li><li class="theme-color"> 
      <a href="#">
       DC SHOES
      </a>
    </li><li class="theme-color"> 
      <a href="#">
       DIOR
      </a>
    </li><li class="theme-color"> 
      <a href="#">
       LACOSTE
      </a>
    </li><li class="theme-color"> 
      <a href="#">
      GUCCI
      </a>
    </li><li class="theme-color"> 
      <a href="#">
        MLB
      </a>
    </li><li class="theme-color"> 
      <a href="pages/about-us.html">
        FILA
      </a>
    </li><li class="theme-color"> 
      <a href="pages/contact.html">
        HERMES
      </a>
    </li><li class="theme-color"> 
      <a href="#">
       KAMITO
      </a>
    </li></div></ul>
</div> 
            </div></div>
        </div><div class="col-lg-3 info-footer">
          <div class="widget-wrapper"><div class="block_content"> 
              <div class="footer-block-title">
  <h3>
    <span>THÀNH VIÊN NHÓM</span>
  </h3>
</div><div class="custom-footer-content">
  <ul class="footer-list row"><div class="item col-sm-12"><li class="theme-color"> 
      <a href="#">
        DOÃN VĂN PHÚC
      </a>
    </li><li class="theme-color"> 
      <a href="#">
        NGUYỄN GIA KHÁNH
      </a>
    </li><li class="theme-color"> 
      <a href="#">
        ĐỖ TRUNG HIẾU
      </a>
    </li><li class="theme-color"> 
      <a href="#">
       LÊ MINH NGỌC
      </a>
    
    </li></div></ul>
</div>
            </div></div>
        </div><div class="col-lg-3 info-footer">
          <div class="widget-wrapper"><div class="footer-block-title">
              <h3>
                <span>ĐƠN VỊ VẬN CHUYỂN</span>
              </h3>
            </div><ul class="footer-list row"><div class="item col-sm-12"><li class="theme-color"> 
                <a href="#">
                  GIAO HÀNG NHANH
                </a>
              </li><li class="theme-color"> 
                <a href="#">
                  GIAO HÀNG TIẾT KIỆT
                </a>
              </li><li class="theme-color"> 
                <a href="#">
                  SHOPEE EXPRESS
                </a>
              </li><li class="theme-color"> 
                <a href="#">
                VIETTEL POST
                </a>
              
              </li></div></ul>
        </div></div>
    </div>
  </div><div class="footer-bottom">
    <div class="container"><div class="custom-block order-lg-last ml-lg-auto"> 
        <img class="lazyload" data-src="../cdn.shopify.com/s/files/1/1632/5913/files/shop1_payment_logo.png"> 
      </div><address> 
        &copy; Him Store. © 2024. 
      </address></div>
  </div><div id="back-top" class="hidden-phone">
    <a href="#top">
      <div class="sticker-wrapper">
        <div class="sticker">
          <i class="icon-up-open"></i>
        </div>
      </div>
    </a>
  </div></footer>





</div>
      </div>
      <div id="shopify-section-sticky-footer-navbar" class="shopify-section">




</div>
    </div>
  </div>
  <!-- //site-footer --><div id="wishlist-box" class="box-popup animate-box">
  <div class="box-inner">
    <div class="item">
      <div class="heading">Just added to your wishlist:</div>
      <div class="product-info">
        <div class="img">
          <div class="product-title"><a class="product-link" href="#"></a></div>
          <a class="product-link" href="#"><img class="product-img" data-src="//porto-demo9.myshopify.com/cdn/shop/t/36/assets/noimage.jpg?v=92931019875364646391639990741" alt="" width="90" /></a>
        </div>
      </div>
    </div>
    <div class="action">
      <div class="action-content">
        <a class="btn-button bordered" href="#">My Wishlist</a>
        <button type="button" class="btn-button close-box bordered"><span>Continue</span></button>
      </div>
    </div>
  </div>
</div>
<div id="cart-box" class="box-popup animate-box">
  <div class="box-inner">
    <div class="item">
      <div class="heading">You&#39;ve just added this product to the cart:</div>
      <div class="product-info">
        <div class="img">
          <div class="product-title"><a class="product-link" href="#"></a></div>
          <a class="product-link" href="#"><img class="product-img" data-src="//porto-demo9.myshopify.com/cdn/shop/t/36/assets/noimage.jpg?v=92931019875364646391639990741" alt="" width="81px" /></a>
        </div>
      </div>
    </div>
    <div class="action">
      <div class="action-content">
        <a class="btn-button bordered" href="cart.html">Go to cart page</a>
        <button type="button" class="btn-button close-box bordered"><span>Continue</span></button>
      </div>
    </div>
  </div>
</div>

<div id="error-notice" class="box-popup animate-box">
  <div class="box-inner">
    <div class="item">
      <div class="heading"></div>
      <div class="message"></div>
    </div>
    <div class="action">
      <div class="cart">
        <button type="button" class="btn-button close-box bordered">Continue</button>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    $("img").addClass('lazyload lazypreload');
    document.addEventListener('lazybeforeunveil', function(e){
      var lazy_bg = e.target.getAttribute('data-bg');
      if(lazy_bg) {
        e.target.style.backgroundImage = 'url(' + lazy_bg + ')';
      }
    });
    var frontendData = {};
    frontendData.enableCurrency = true;
    frontendData.ajax_search = true;
    frontendData.search_by_collection = true;
    frontendData.imageLazyLoad = true;
     
    var cartData = {};
    cartData.ajax_cart_use = true;
    cartData.shopping_cart_action = 'widget';
    var wishlistData = {};
    var compareData = {};
    var obProductData = {};
    obProductData.in_stock = 'In Stock';
    obProductData.out_of_stock = 'Out Of Stock';
    obProductData.add_to_cart = 'Thêm giỏ hàng';
    obProductData.sold_out = 'Sold Out';
    cartData.removeItemLabel = 'Remove item';
    cartData.totalLabel = 'Total:';
    cartData.totalNumb = 'item(s)';
    cartData.noItemLabel = 'You have no items in your shopping cart.';
    cartData.buttonViewCart = 'View cart';
    cartData.buttonCheckout = 'Checkout';
    window.inventory_text = {
      in_stock: "In Stock",
      many_in_stock: "Many In Stock",
      out_of_stock: "Out Of Stock",
      add_to_cart: "Thêm giỏ hàng",
      sold_out: "Sold Out"
    };

    window.date_text = {
      year_text: "years",
      month_text: "months",
      week_text: "weeks",
      day_text: "days",
      year_singular_text: "year",
      month_singular_text: "month",
      week_singular_text: "week",
      day_singular_text: "day",
      hour_text: "Hours",
      min_text: "Mins",
      sec_text: "Secs",
      hour_singular_text: "Hour",
      min_singular_text: "Min",
      sec_singular_text: "Sec"
    };
    wishlistData.wishlist = 'Wishlist';
    wishlistData.product = 'Product';
    wishlistData.instock = 'In Stock';
    wishlistData.outstock = 'Out Of Stock';
    wishlistData.addtocart = 'Thêm giỏ hàng';
    wishlistData.remove = 'has removed from wishlist';
    wishlistData.no_item = 'There is no items in wishlist box';
    wishlistData.item_exist = 'is exist in wishlist';
    wishlistData.item_added = 'has added to wishlist successful';
    compareData.compare = 'Comparing box';
    compareData.product = 'Product';
    compareData.quantity = 'Quantity';
    compareData.options = 'Options';
    compareData.remove = 'has removed from comparing box';
    compareData.no_item = 'There is no items in comparing box';
    compareData.item_exist = 'is exist in compare';
    compareData.item_added = 'has added to comparing box successful'; 
  </script><script src="cdn/shop/t/36/assets/theme-scriptsd5ff.js?v=137552514658993020401639990772" type="text/javascript"></script>
  <script src="cdn/shop/t/36/assets/jquery.elevatezoom.min0df0.js?v=123299089282303306721639990729" type="text/javascript"></script> 
  <script src="cdn/shop/t/36/assets/theme3c6c.js?v=178361734015693301011639990773" async></script>
  <script src="cdn/shopifycloud/shopify/assets/themes_support/api.jquery-b0af070cfe3f5cf7c92f9e2a5da2665ee07ed2aad63bb408f8d6672f894a5996.js" async></script>
  <script src="cdn/shop/t/36/assets/option_selectiona156.js?v=72637887344529333141639990747" type="text/javascript"></script>  
  <script>
    
    
  </script>
  <div class="modal fade" id="wishlistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="brackets">Wishlist</span><span id="wishlistCount"></span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div id="wishlistAlert"></div>
        <div id="wishlistTableList">
          <table class="shop_table data-table cart-table wishlist-table" style="display:none;"> 
            <thead>
              <tr class="first last">
                <th class="product-thumbnail" colspan="1">&nbsp;</th>
                <th class="product-name" colspan="2"><span class="nobr"><span class="brackets">Product</span></span></th>
                <th class="product-price" colspan="1"><span class="nobr"><span class="brackets">Price</span></span></th>
                <th class="product-stock-status"><span class="brackets">Quantity</span></th>
                <th class="product-add-to-cart"><span class="brackets">Actions</span></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> 
<div id="wishlistModalBody" hidden>
  <div class="form_cart">
    <table class="shop_table data-table cart-table wishlist-table">
      <tbody>
        <tr class="odd first last wishlist-option-item-0">
          <td class="product-thumbnail">
            <div class="position-relative">
              <a><img class="lazyload" data-src="#image#"></a>
              <a href="javascript:void(0)" class="remove remove-wishlist remove-product position-absolute" data-product-handle="#handle#" data-product-title="#title#" onclick="removeWishlist(event)">×</a>
            </div>
          </td>
          <td class="product-name"><a href="#urlProduct#">#title#</a></td>
          <td colspan="1" class="a-right product-unittax">
            <div class="price">
              <span class="special-price">#price#</span>
              <span class="compare-price"><span class="compare_at_price"></span></span>
            </div>
          </td>
          <td class="product-stock-status">
            <span class="wishlist-in-stock text-dark">#stock#</span>
          </td>
          <td class="product-add-to-cart"></td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div tabindex="-1" role="dialog" id="compareBox" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="brackets">Comparing box</span><span id="compareCount"></span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div id="compareAlert"></div>
        <div id="compareTableList">
          <table class="data-table cart-table">
            <tbody>
              <tr>
                <td><span class="brackets">Features</span></td>
              </tr>
              <tr>
                <td><span class="brackets">Availability:</span></td>
              </tr>
              <tr>
                <td><span class="brackets">Price</span></td>
              </tr>
              <tr>
                <td><span class="brackets">Options</span></td>
              </tr>
              <tr>
                <td><span class="brackets">Actions</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<!-- Mirrored from porto-demo9.myshopify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 02:20:52 GMT -->
</html>
